body {
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}
/*----------Background color------*/

.bg-color-experience {
    background-color: #ffc107;
}
.bg-color-education {
    background-color: #6c757d;
}

/*----------Landing page----------*/

#education {
    background-image: url('../images/education.jpg');
}
#experience {
    background-image: url('../images/experience.jpg');
}
#landing-page {
    background-attachment: fixed;
    background-image: url('../images/strong-taurus-bull.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 0.5%;
    font-size: 5.5em;
}
.title {
    text-transform: uppercase;
    font-weight: 700;
}
.intro {
    text-transform: uppercase;
    font-weight: 700;
}



/* ----------------------------------------Special paddings/margins/text */

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* ----------------------------------------Work History */

.education-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}


  /* ----------------------------------------Toolbox */

.toolbox-head {
      text-transform: uppercase;
  }
   /* ----------------------------------------Projects */

.projects-head {
      text-transform: uppercase;
  }
  /* ----------------------------------------Contact */

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}