/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'); */

body {
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}
/*----------Background color------*/

.bg-color-experience {
    background-color: #ffc107;
}
.bg-color-education {
    background-color: #6c757d;
}
.bg-color-toolbox {
    background-color: #f5f5f0;
}
.bg-color-projects {
  background-color: #8f8f8f;
}

/*----------Landing page----------*/

#landing-page {
    background-attachment: fixed;
    background-image: url('../images/strong-taurus-bull.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}


.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 0.5%;
    /* font-size: 5.5em; */
}
.title {
    text-transform: uppercase;
    font-weight: 700;
}
.intro {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 0vh;
}

.navbar {
    background-color: transparent;
}

.btn-cta {
background-color: transparent;
  border: none;
  color: #ffc107;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border-color: #ffc107;
  border: 2px solid #ffc107;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
.btn-cta p {
    text-align: center;
}
.btn-cta:hover {
color: #17A2B6;
}
/* ----------------------------------------Special paddings/margins/text */


/* ----------------------------------------Education/Experience */
#education {
    background-image: url('../images/education.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.education-head {
    text-transform: uppercase;
    color: white;
}

#institute,
#university {
    color:#ffc107;
}



/* ----------------------------------------Experience */
#experience {
    background-image: url('../images/experience.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.experience-head {
    color: #fafafa;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}


  /* ----------------------------------------Toolbox */

.toolbox-head {
    text-transform: uppercase;
}

.row toolbox {
    text-align: center;
}
.skills .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

   /* ----------------------------------------Projects */
#projects {
    background-image: url('../images/projects.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-head {
    text-transform: uppercase;
}
.modal-body {
    position: center;
}
.projects a i {
    float: center;
 }
.project-links a i {
 width: 50px;
    height: 50px;

    font-size: 30px;
    line-height: 7px;
    /* text-align: center; */
    color: #ffc107;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}
/* ----------------------------------------Contact */
button[type="submit"] {
    background-color: #17A2B6;
    color: #f8f9fa;
    border-color: transparent;
    float: center;
    border: 20px;
}
.contact-head  {
padding-left: 12px;
    margin-top: 12%;

}

.contact-text {

padding-left: 12px;
    margin-top: 12%;
}

form {
    padding: 10%;
}
 #contact {
     background-image: url('../images/contact.jpg');
 }
/* ----------------------------------------Footer */
footer {
    background-color: #6b6b6b;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    width: 50px;
    height: 50px;

    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
media query for

.cv-pdf i:hover {
    color: #ffc107;
}

.university i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.university i:hover {
    color: #ffc107;
}

.social-links {
    padding-bottom: 15px;
}

.social-links a i {
    width: 50px;
    height: 50px;

    font-size: 20px;
    line-height: 7px;
    display: inline;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fafafa;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc107;
}

#footer-details {
    padding: 20px;
}

/*-------------Media queries------------ */

/* @media (max-width: 768px) and (min-width: 375px) {
    .scroll-work {
        width: 80%;
    }
    .fa-chevron-down {
        margin-top: 52vh;
    }
} */

@media (max-width: 992px) {
    #education, #experience, #landing-page, #contact{
        background-attachment: scroll;
    }
}

/* @media (min-width: 992px) {
    #about-me {
        background-image: url('../images/haley.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #skills {
        background-image: url('../images/skills.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .fa-chevron-down {
        margin-top: 32vh;
    }
} */

@media (max-width: 992px) {
    #education, #experience, #landing-page{
        background-attachment: scroll;
    }
}

/* @media (min-width: 992px) {
    #about-me {
        background-image: url('../images/haley.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #skills {
        background-image: url('../images/skills.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .fa-chevron-down {
        margin-top: 32vh;
    }
} */