/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'); */

body {
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}
/*----------Background color------*/

.bg-color-experience {
    background-color: #ffc107;
}
.bg-color-education {
    background-color: #6c757d;
}
.bg-color-toolbox {
    background-color: #f5f5f0;
}
.bg-color-projects {
  background-color: #8f8f8f;
}

/*----------Landing page----------*/

#landing-page {
    background-attachment: fixed;
    background-image: url('../images/strong-taurus-bull.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 0.5%;
    font-size: 5.5em;
}
.title {
    text-transform: uppercase;
    font-weight: 700;
}
.intro {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 0vh;
}

.navbar {
    background-color: transparent;
}

.btn-cta {
background-color: #6c757d;
  border: none;
  color: #ffc107;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
.btn-cta p {
    text-align: center;
}
.btn-cta:hover {
color: #17A2B6;
}
/* ----------------------------------------Special paddings/margins/text */

.history-heading,
.section-heading {
    font-family: "Exo";
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/* ----------------------------------------Education */
#education {
    background-image: url('../images/education.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------Experience */
#experience {
    background-image: url('../images/experience.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.education-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}


  /* ----------------------------------------Toolbox */

.toolbox-head {
    text-transform: uppercase;
}

   /* ----------------------------------------Projects */
#projects {
    background-image: url('../images/projects.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-head {
    text-transform: uppercase;
}
.project1-link {


 }

/* ----------------------------------------Contact */
button[type="submit"] {
    background-color: #17A2B6;
    color: #f8f9fa;
    border-color: transparent;
    float:center;
}

/* ----------------------------------------Footer */
footer {
    background-color: #6b6b6b;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #ffc107;
}

.university i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.university i:hover {
    color: #ffc107;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc107;
}

#footer-details {
    padding: 20px;
}


/* .footer-details {
    background-color: #a8a6a6;
    color: #fafafa;
    min-height: 125px;
    margin: 0;
}

.cv-pdf i {

    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #ffc107;
}
.uni i {
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links {
    padding-bottom: 5px;
}

.social-links li a i {
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; */

    /* width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 15px;
    line-height: 2px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; */
}

