body {
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}
/*----------Background color------*/

.bg-color-experience {
    background-color: #ffc107;
}

.bg-color-education {
    background-color: #6c757d;
}

.bg-color-toolbox {
    background-color: #6c757d;
}

hr {
    border: 1px dashed white;
}

/*----------Landing page----------*/

#landing-page {
    background-attachment: fixed;
    background-image: url('../images/strong-taurus-bull.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}
/*
@media (min-width: 992px) {
    #landing-page {
        background-size: ;
    }
} */

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 0.5%;
    text-shadow: 2px 1px #6b6b6b;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffc107;
}

.intro {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 2vh;
}

.navbar {
    background-color: transparent;
}

.d-md-block {
    margin-top: 60%;
}

.btn-cta p {
    text-align: center;
}

.btn-cta:hover {
color: black;
}


/* ----------------------------------------Education/Experience */

#education {
    background-image: url('../images/education.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.education-items {
    margin-top: 15px;
    margin-bottom: 15px;
}
.education-head {
    text-transform: uppercase;
    color: white;
}

#institute,
#university,
#tartu {
    color:#ffc107;
}

#north-estonia,
#estonia {
    color: gray;
}


/* ----------------------------------------Experience */
#experience {
    background-image: url('../images/experience.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.experience-items {
    margin-top: 15px;
    margin-bottom: 15px;
}
.experience-head {
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    background: #fafafa;
    content: '';
}

  /* ----------------------------------------Toolbox */

.toolbox-head {
    text-transform: uppercase;
    color: #fafafa;
}
.row  ul {
    background-position: center;
}

.skills .row {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fafafa;
}

.col-md-4 h2 {
    margin-top: 10px;
}

.col-6 h4 {
    font-weight: 700;
    text-shadow: 1.5px 1px black;
}

   /* ----------------------------------------Projects */

#projects {
    background-image: url('../images/projects.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-head {
    text-transform: uppercase;
    font-size: 55px;
    padding: 3%;
    text-align: center;
}
.modal-body {
    position: center;
}

.modal-footer {
    padding: 0px;
}

.projects a i {
    float: center;
    margin-top: 10%;
 }

.project-links a i {
    width: 50px;
    height: 50px;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 19px;
    line-height: 12px;
    text-align: center;
    color: black;
    background: #ffc107;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.col-md-8 h2 {
    margin-top: 25px;
    text-shadow: 2px 1px #6b6b6b;
}

button[type="button"] {
    float: center;
    margin: 20px 0px 10px 0px;
}

/* ----------------------------------------Contact */

button[type="submit"] {
    background-color: #17A2B6;
    color: #f8f9fa;
    border-color: transparent;
    float: center;
    border: 20px;
    margin: 30px;
}

.col h2 {
    margin-top: 25px;
    text-shadow: 2px 1px #6b6b6b;
}

.col h4{
    margin-top: 10px;
    text-shadow: 2px 1px #6b6b6b;
}
.col .btn {
     margin-top: 25px;
 }

 .form-control {
     margin: 5px;
 }

 #contact {
     background-image: url('../images/contact.jpg');
 }

/* ----------------------------------------Footer */

footer {
    background-color: #6b6b6b;
    color: #fafafa;
   /* min-height: 120px; */
    margin: 0;
}

.cv-pdf i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #ffc107;
}

.university i {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.university i:hover {
    color: #ffc107;
}

/*.social-links {
    padding-bottom: 15px;
}
*/

.social-links a i {
    width: 50px;
    height: 50px;

    font-size: 20px;
    line-height: 7px;
    display: inline;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fafafa;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc107;
}

#footer-details {
    padding: 20px;
}

/*-------------Media queries------------ */

@media (max-width: 767px) {
     button[type="button"] {
float: center;
margin: 20px 0px 20px 0px;

}

.mobile{
 /* #education, #experience, #landing-page, #contact{ */
        background-attachment: scroll;
    }
}
/* min-width is used for mobile first approach */

@media (max-width: 992px) {
    #landing-page {
        background-color: ;
    }
}
@media (min-width: 992px) and (max-width: 1880px) {
    .desktop {
        background-color: ;
    }
}

/* @media (min-width: 992px) {
    #about-me {
        background-image: url('../images/haley.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #skills {
        background-image: url('../images/skills.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .fa-chevron-down {
        margin-top: 32vh;
    }
} */

@media (min-width: 768px) {
    button[type="button"] {
float: center;
padding: 5px;
}
    #education, #experience, #landing-page{
        background-attachment: scroll;
    }
}

/* @media (min-width: 992px) {
    #about-me {
        background-image: url('../images/haley.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    #skills {
        background-image: url('../images/skills.jpg');
        background-position: center;
        background-size: cover;
        width: 100vw;
    }
    .fa-chevron-down {
        margin-top: 32vh;
    }
} */